{% extends 'layout/base.html' %}

{% block title %}
Quản trị viên
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-10">
        <div id="confirmationMessage" class="alert alert-info" style="display: none;"></div>

        <form method="post" onsubmit="return confirmSaveChange()">
            <input type="submit" class="btn btn-success mb-3" value="Lưu thay đổi"/>
            <table class="table table-bordered">
                <tr class="bg-info text-center">
                    <th>Nội dung quy định</th>
                    <th colspan="2"> Giá trị </th>
                </tr>
                <tr>
                    <td> Số tuổi tiếp nhận học sinh </td>
                    <td>
                        <input type="number" value="15"/>
                    </td>
                    <td>
                        <input type="number" value="20"/>
                    </td>
                </tr>
                <tr>
                    <td> Sỉ số tối đa của 1 lớp học </td>
                    <td colspan="2">
                        <input type="number" value="40">
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="col-sm-2">
        <div class="card" style="width:150px">
            <img class="card-img-top"
                 src="https://th.bing.com/th/id/R.dbc8e6138b38860cee6899eabc67df45?rik=hZCUMR4xQ%2btlBA&pid=ImgRaw&r=0"
                 style="width:100px" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Trần Chinh</h4>
                <p class="card-text">Quản trị viên</p>
                <a href="#" class="btn btn-danger">Đăng xuất</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}