{% extends 'admin/master.html' %}

{% block body %}
<div class="container">
    <div>
        <form>
            <div class="d-flex justify-content-around p-3">
                <div>
                    <label class="" for="subject">Môn học:</label>
                    <select class="form-select" id="subject" name="subjectId">
                        {% for s in subjects %}
                        <option value="{{s.id}}">{{s.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="semester">Học kỳ:</label>
                    <select class="form-select" id="semester" name="semester">
                        <option value="SEMESTER_1"> Học kỳ 1</option>
                        <option value="SEMESTER_2"> Học kỳ 2</option>
                    </select>
                </div>
                <div>
                    <label class="" for="year">Năm học:</label>
                    <select class="form-select" id="year" name="year">
                        {% for year in years %}
                        <option value="{{year}}">{{year}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <button type="submit"> Thống kê</button>
                </div>
            </div>
        </form>
        <table class="table table-bordered">
            <thead class="table-primary">
            <tr>
                <th>STT</th>
                <th>Lớp</th>
                <th>Sĩ số</th>
                <th>Số lượng đạt</th>
                <th>Tỷ lệ</th>
            </tr>
            </thead>
            <tbody>
            {% for s in stats %}
            <tr>
                <td>{{s[0]}}</td>
                <td>{{s[1]}}</td>
                <td>{{s[2]}}</td>
                <td>
                    {% if s[5]%}
                        {{s[5]}}
                    {% else %}
                        0
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <canvas id="reportChart"></canvas>
    </div>
</div>
{% endblock %}