{% extends 'layout/base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total students</h5>
                <p class="card-text fs-2 text fw-bold"> 300 </p>
            </div>
            <div class="card-footer">
                <h5>Semester 1</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total students</h5>
                <p class="card-text fs-2 text fw-bold">300</p>
            </div>
            <div class="card-footer">
                <h5>Semester 1</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="card" style="width:150px">
            <img class="card-img-top"
                 src="https://th.bing.com/th/id/R.dbc8e6138b38860cee6899eabc67df45?rik=hZCUMR4xQ%2btlBA&pid=ImgRaw&r=0"
                 style="width:100px" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">{{ current_user.last_name }} {{ current_user.firstname }}</h4>
                <p class="card-text">
                    {% if current_user.is_authenticated %}
                    {% if current_user.user_role == 2 %}
                    Giáo viên
                    {% else %}
                    Nhân viên
                    {% endif %}
                    {% endif %}
                </p>
                <a href="/logout" class="btn btn-danger">Đăng xuất</a>
            </div>
        </div>
    </div>
</div>
<h4>Thông báo và tin tức</h4>
<div class="row mx-5 border rounded-3 bg-light" style="height:500px">
    <div class="col-sm-3 border bg-light">
        <h5 class="">Tiêu đề</h5>
        <div class="bg-info rounded-3 overflow-auto" style="height:450px">
            <ul type="none">
                <li>Thong tin nhu dị nè</li>
                <li>Khối 10</li>
                <li>Khối 11</li>
                <li>Khối 12</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-9 bg-light border">
        <h5>Nội dung</h5>
        <div class="rounded-3 border overflow-auto" style="height:450px">
            <p>Sự hứng thú của em với chủ đề của khóa học này không chỉ là một đam mê, mà còn là một nguồn cảm hứng
                không ngừng. Em cảm thấy cuốn hút bởi những nội dung sẽ được học trong khóa học này, và khóa học này là
                cơ hội lớn để tôi có thể mở rộng và phát triển kiến thức của mình. Từ khi bắt đầu tìm hiểu về chủ đề này
                đặc biệt là IoT, em bị thu hút bởi những điều thú vị và ứng dụng thực tế mà nó mang lại.
                Từ những ứng dụng hiện đại trong đời sống, mỗi khía cạnh đều rất hấp dẫn và đầy tiềm năng để khám phá.
                Em mong qua khóa học này em sẽ làm được một ứng dụng thực tế và thực sự mang lại lợi ích. Mỗi buổi học
                là một cơ hội để thảo luận, chia sẻ ý kiến và học hỏi từ những người cùng đam mê.
                Em mong đợi những cuộc trao đổi đầy sôi nổi và sự tương tác tích cực với giảng viên và bạn bè. Em tin
                rằng những trải nghiệm này sẽ là nguồn động viên mạnh mẽ cho sự phát triển cá nhân và sự nghiệp của em
                trong tương lai.
                Cuối cùng, sự hứng thú của em với chủ đề này không chỉ dừng lại ở việc học hỏi, mà còn là việc áp dụng
                kiến thức và kỹ năng mà em thu được ứng dụng vào công việc và sự nghiệp của mình. Em hy vọng rằng khóa
                học này sẽ là bước đầu tiên trong hành trình của tôi để trở thành một chuyên gia trong lĩnh vực IoT và
                ảnh hưởng tích cực đến cộng đồng xung quanh.
            </p>
        </div>
    </div>
</div>
{% endblock %}