{% extends 'layout/base.html' %}

{% block content %}
<div class="container">
  <h2>Thêm lớp học mới</h2>
  <form method="POST" action="{{ url_for('add_or_update_class') }}">

   {{ form.csrf_token }}
    {{ form.hidden_tag() }} <!-- Add hidden fields for CSRF protection -->

    <div class="mb-3">
      <label for="name" class="form-label">Tên lớp:</label>
      {{ form.name(class="form-control", id="name") }}
    </div>

    <div class="mb-3">
      <label for="grade" class="form-label">Khối:</label>
      {{ form.grade(class="form-select", id="grade") }}
    </div>

    <button type="submit" class="btn btn-primary">Lưu</button>
  </form>
</div>
{% endblock %}