{% extends 'layout/base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total students</h5>
                <p class="card-text fs-2 text fw-bold"> {{ total_student }} </p>
            </div>
            <div class="card-footer">
                <h5>Semester 1</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total students</h5>
                <p class="card-text fs-2 text fw-bold">300</p>
            </div>
            <div class="card-footer">
                <h5>Semester 2</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="card" style="width:150px">
            <img class="card-img-top"
                 src="https://th.bing.com/th/id/R.dbc8e6138b38860cee6899eabc67df45?rik=hZCUMR4xQ%2btlBA&pid=ImgRaw&r=0"
                 style="width:100px" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">{{ current_user.last_name }} {{ current_user.firstname }}</h4>
                <p class="card-text">
                    {% if current_user.is_authenticated %}
                    {% if current_user.user_role == 2 %}
                    Giáo viên
                    {% else %}
                    Nhân viên
                    {% endif %}
                    {% endif %}
                </p>
                <a href="/logout" class="btn btn-danger">Đăng xuất</a>
            </div>
        </div>
    </div>
</div>
<h4>Thông báo và tin tức</h4>
<div class="row mx-5 border rounded-3 bg-light" style="height:500px">
    <div class="col-sm-3 border bg-light">
        <h5 class="">Tiêu đề</h5>
        <div class="bg-info rounded-3 overflow-auto" style="height:450px">
            <ul type="none">
                <li>Thong tin nhu dị nè</li>
                <li>Khối 10</li>
                <li>Khối 11</li>
                <li>Khối 12</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-9 bg-light border">
        <h5>Nội dung</h5>
        <div class="rounded-3 border overflow-auto" style="height:450px">
            <p>Hello world</p>
        </div>
    </div>
</div>
{% endblock %}