{% extends 'layout/base.html' %}

{% block content %}

<h1 class="text-center text-primary">QUẢN LÝ MÔN HỌC</h1>

<div class="row">

<div class="col-md-10">
    <button type="button" class="btn btn-success">Lưu thông tin</button>
    <a href="/employee/add_student" class="btn btn-info">Thêm học sinh</a>
</div>
        <div class="col-md-2 card" style="width:150px">
            <img class="card-img-top" src="https://th.bing.com/th/id/R.dbc8e6138b38860cee6899eabc67df45?rik=hZCUMR4xQ%2btlBA&amp;pid=ImgRaw&amp;r=0" style="width:100px" alt="Card image">

        <div class="card-body">
            <h4 class="card-title"> </h4>
            <h4 class="card-title"> </h4>
            <a href="/logout" class="btn btn-danger">Đăng xuất</a>
        </div>
    </div>
</div>

<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-md-4">-->
<!--            &lt;!&ndash; Nút thêm &ndash;&gt;-->
<!--            <button type="button" class="btn btn-primary">Thêm</button>-->
<!--            &lt;!&ndash; Nút xóa &ndash;&gt;-->
<!--            <button type="button" class="btn btn-danger">Xóa</button>-->
<!--            &lt;!&ndash; Ô tìm kiếm &ndash;&gt;-->
<!--            <input type="text" class="form-control" placeholder="Tìm kiếm...">-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row mt-3">-->
<!--        <div class="col-md-2"></div> &lt;!&ndash; Ô trống &ndash;&gt;-->
<!--        <div class="col-md-2">Mã môn</div>-->
<!--        <div class="col-md-2">Tên môn</div>-->
<!--        <div class="col-md-2">Số cột điểm 15 phút</div>-->
<!--        <div class="col-md-2">Số cột điểm 1 tiết</div>-->
<!--        <div class="col-md-2">-->
<!--            <input type="checkbox">-->
<!--        </div> &lt;!&ndash; Ô check &ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash; Dữ liệu từ database &ndash;&gt;-->
<!--    {% for subject in subjects %}-->
<!--    <div class="row mt-3">-->
<!--        <div class="col-md-2"></div> &lt;!&ndash; Ô trống &ndash;&gt;-->
<!--        <div class="col-md-2">{{ subject.id }}</div> &lt;!&ndash; Thay "column1" bằng tên cột thực tế &ndash;&gt;-->
<!--        <div class="col-md-2">{{ subject.name }}</div> &lt;!&ndash; Thay "column2" bằng tên cột thực tế &ndash;&gt;-->
<!--        <div class="col-md-2">{{ subject.exam_15mins }}</div> &lt;!&ndash; Thay "column3" bằng tên cột thực tế &ndash;&gt;-->
<!--        <div class="col-md-2">{{ subject.exam_45mins }}</div> &lt;!&ndash; Thay "column4" bằng tên cột thực tế &ndash;&gt;-->
<!--        <div class="col-md-2">-->
<!--            <input type="checkbox">-->
<!--        </div> &lt;!&ndash; Ô check &ndash;&gt;-->
<!--    </div>-->
<!--    {% endfor %}-->
<!--</div>-->

<table class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
                <th>Mã môn</th>
                <th>Tên môn</th>
                <th>Số cột điểm 15 phút</th>
                <th>Số cột điểm 1 tiết</th>
                <th></th>
        </tr>
        </thead>
        <tbody>
        {% for subject in subjects %}
            <tr>
                <td>{{ subject.id }}</td>
                <td>{{ subject.name }}</td>
                <td>{{ subject.exam_15mins }}</td>
                <td>{{ subject.exam_45mins }}</td>
                <td>
                    <a href="" class="btn btn-success">Cập nhật</a>
                    <a href="" class="btn btn-danger">Xóa</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}