<nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="navbar-brand" href="/">
                    <img src="https://static.vecteezy.com/system/resources/previews/015/481/583/non_2x/bkc-letter-logo-design-on-white-background-bkc-creative-initials-circle-logo-concept-bkc-letter-design-vector.jpg"
                         alt="School" style="width:40px">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="http://127.0.0.1:5000/employee">Trang chủ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:5000/employee/adjustRegulations">Điều chỉnh quy định</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Thống kê</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Quản lý môn học</a>
            </li>
        </ul>
    </div>
</nav>
